<div role="document" class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
    <span class="modal-title">{{my_modal_title}}</span>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <i class="fa fa-times-circle" aria-hidden="true"></i>
    </button>
  </div>
  <div class="modal-body">
    <ng-content>

    </ng-content>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-grey" (click)="activeModal.close('Close click')">{{modalPopupdata.buttonCancelText}}</button>
    <button type="button" class="btn-primary"
    title="{{modalPopupdata.buttonOkText}}" (click)="done()">{{modalPopupdata.buttonOkText}}</button>
  </div>
</div>
</div>