<!-- <h2 mat-dialog-title>Alert!</h2>
<mat-dialog-content >
  <span> {{data.errormessage}}</span> 
</mat-dialog-content>
<br/>
<mat-dialog-actions align="end">
  <button mat-raised-button color="accent" (click)="onNoClick()">Close</button>
   <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
<!-- </mat-dialog-actions> -->
<!-- 
<div class="backdrop" (click)="onNoClick()"></div>
<div class="alert-box">
  <p>{{ data.errormessage }}</p>
  <div class="alert-box-actions">
    <button class="btn btn-primary" (click)="onNoClick()">Close</button>
  </div>
</div> -->
<div>
  <div class="content-container">
    <mat-icon id="close-icon" (click)="onNoClick()">close</mat-icon>
    <span class="content-span full-width">{{data.message}}</span>
  </div>
  <!-- <button mat-flat-button id="no-button" [mat-dialog-close]="false">NO</button> -->
  
  <button mat-flat-button id="yes-button" [mat-dialog-close]="true">Close</button>
</div>